################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LunchLogger/obj/Debug
/LunchLogger/.vs/LunchLogger/v14
/LunchLogger/bin/Debug
